.main-wrapper{
  height: 500px;
  width: 500px;
  border-radius:100%;
  background-color: black;
  margin: auto;
  /*display: block;
  position: absolute;
    right: 66%;*/
}
.controles{

  width:200px;
  height:200px;
  position : absolute;
  border-radius:100%;
  /*top:50%;
  left:50%;*/
  margin: 127px 0 0  127px;
  background-color:#ECE7EE;
  border: 12px solid #333;
  z-index: 2;
}

button{

  position:relative;
  top:50%;

}
/*.center{
    margin: auto;
    padding-top: 15px;
}*/

.gameButton{
  margin: 15px 0px 0px 15px;
  height: 200px;
  width: 200px;
  /*margin: 11px 11px 11px 11px;*/
  border: 14px solid #333;
  position:relative;
  z-index: 1;
  float: left;
}


.greenGameButton{


  border-top-left-radius : 100%;

}

.redGameButton{

  border-top-right-radius : 100%;
}


.blueGameButton{

  border-bottom-left-radius : 100%;
}


.yellowGameButton{

  border-bottom-right-radius : 100%;

}

/*.block {
    display: inline-block;

}*/

.simon{
  font-family: 'Alfa Slab One';
  text-align: center;
  font-size: 50px;
  margin-left: auto;
  margin-top: 10px;

}

.counter{
  font-size: 30px;
  width: 60px;
  text-align: center;
  margin: auto;
  margin-top: -50px;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

.buttons{
  text-align: center;
  margin: auto;
  margin-top: 10px;

}

tr, td{
  padding: 15px;
  padding-top: 2px;
}

.controlButtons{
  padding: 10px 10px;
  border-radius:100%;
  background-color: rgba(255, 0, 0, 0.5);


}

.controlButtons:focus{
  outline:none;
}
